/*后台公用样式*/
.login {background-color: #F0F0F0;}
.login .login-title {text-align: center;font-size: 20px;margin-top: 150px;}
.login .login-title p{font-size: 16px; font-weight: 300; color: #999; margin-top: 10px;}
.login .login-form {max-width: 325px;margin: 30px auto;position: relative;}
.login .login-form .captcha-img {width: 140px;height: 38px;}
.login .login-form button {width: 100%;background-color: #048f74;margin-top: 10px;}
.login .login-form .layui-form-item label {position: absolute; width: 38px; line-height: 36px; text-align: center; color: #d2d2d2;}
.login .login-form .layui-form-item .layui-input {padding-left: 38px;}
.login .login-form .login-captcha{float: right;}
.login .login-form .login-captcha-input {width: 170px; display: inline;}
.login .login-footer {position: absolute; left: 0; bottom: 0; width: 100%; line-height: 30px; padding: 20px; text-align: center; box-sizing: border-box; color: rgba(0,0,0,.5);}

.logo {padding-top: 20px; margin-left: 20px; color: #f2f2f2; font-size: 18px;}

.header {background-color: #393D49;}
.footer {line-height: 44px;}

.layui-layout-admin .layui-body {bottom: 0px;}

.layui-side {top: 60px;}
.layui-table tbody tr:hover {background-color: #f2f2f2;}
.layui-tab {overflow: visible;}
.layui-tab-title > li > a {display: block;}
.layui-btn-normal {background: #4caf50;}
.layui-btn-danger {background: #e90d24;}
.layui-nav-tree .layui-nav-child dd a {text-indent: 16px;}

.form-container {max-width: 800px;}
.form-container .edui-editor {margin-top: -7px;margin-bottom: -7px;margin-left: -11px;}

/*分页*/
.pagination {text-align: right; padding-right: 20px; float: right;}
.pagination li {display: inline-block;margin-right: -1px;padding: 5px;border: 1px solid #e2e2e2;min-width: 20px;text-align: center;}
.pagination li.active {background: #009688;color: #fff;border: 1px solid #009688;}
.pagination li a {display: block;text-align: center;}

.photo-list {margin: 5px 0;}
.base-iframe{position: absolute; width: 100%; height: 100%; left: 0; top: 0; right: 0; bottom: 0;}
