<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/front/css/index.css">
    <title>投票</title>
</head>

<body>
<div id="Demo" style="text-align:center;">
    <div id="VoteMain">
        <div class="VoteItem"><button onclick="v(1);" class="VoteText" id="btn1">鼠</button>
            <div id="vv1" class="VoteValue" style="margin-top: 280px; height: 0px;">
                <div id="v1" class="VoteSpan">0<span class="VoteSpanTri"></span></div>
            </div>
        </div>
        <div class="VoteItem"><button onclick="v(2);" class="VoteText" id="btn2">牛</button>
            <div id="vv2" class="VoteValue" style="margin-top: 280px; height: 0px;">
                <div id="v2" class="VoteSpan">0<span class="VoteSpanTri"></span></div>
            </div>
        </div>
        <div class="VoteItem"><button onclick="v(3);" class="VoteText" id="btn3">虎</button>
            <div id="vv3" class="VoteValue" style="margin-top: 280px; height: 0px;">
                <div id="v3" class="VoteSpan">0<span class="VoteSpanTri"></span></div>
            </div>
        </div>
        <div class="VoteItem"><button onclick="v(4);" class="VoteText" id="btn4">兔</button>
            <div id="vv4" class="VoteValue" style="margin-top: 280px; height: 0px;">
                <div id="v4" class="VoteSpan">0<span class="VoteSpanTri"></span></div>
            </div>
        </div>
        <div class="VoteItem"><button onclick="v(5);" class="VoteText" id="btn5">龍</button>
            <div id="vv5" class="VoteValue" style="margin-top: 280px; height: 0px;">
                <div id="v5" class="VoteSpan">0<span class="VoteSpanTri"></span></div>
            </div>
        </div>
        <div class="VoteItem"><button onclick="v(6);" class="VoteText" id="btn6">蛇</button>
            <div id="vv6" class="VoteValue" style="margin-top: 280px; height: 0px;">
                <div id="v6" class="VoteSpan">0<span class="VoteSpanTri"></span></div>
            </div>
        </div>
        <div class="VoteItem"><button onclick="v(7);" class="VoteText" id="btn7">馬</button>
            <div id="vv7" class="VoteValue" style="margin-top: 280px; height: 0px;">
                <div id="v7" class="VoteSpan">0<span class="VoteSpanTri"></span></div>
            </div>
        </div>
        <div class="VoteItem"><button onclick="v(8);" class="VoteText" id="btn8">羊</button>
            <div id="vv8" class="VoteValue" style="margin-top: 280px; height: 0px;">
                <div id="v8" class="VoteSpan">0<span class="VoteSpanTri"></span></div>
            </div>
        </div>
        <div class="VoteItem"><button onclick="v(9);" class="VoteText" id="btn9">猴</button>
            <div id="vv9" class="VoteValue" style="margin-top: 280px; height: 0px;">
                <div id="v9" class="VoteSpan">0<span class="VoteSpanTri"></span></div>
            </div>
        </div>
        <div class="VoteItem"><button onclick="v(10);" class="VoteText" id="btn10">雞</button>
            <div id="vv10" class="VoteValue" style="margin-top: 280px; height: 0px;">
                <div id="v10" class="VoteSpan">0<span class="VoteSpanTri"></span></div>
            </div>
        </div>
        <div class="VoteItem"><button onclick="v(11);" class="VoteText" id="btn11">狗</button>
            <div id="vv11" class="VoteValue" style="margin-top: 280px; height: 0px;">
                <div id="v11" class="VoteSpan">0<span class="VoteSpanTri"></span></div>
            </div>
        </div>
        <div class="VoteItem"><button onclick="v(12);" class="VoteText" id="btn12">豬</button>
            <div id="vv12" class="VoteValue" style="margin-top: 280px; height: 0px;">
                <div id="v12" class="VoteSpan">0<span class="VoteSpanTri"></span></div>
            </div>
        </div>
    </div>
</div>
<script src="/static/front/js/index.js"></script>
<script src="/static/front/js/jquery.min.js"></script>
</body>

</html>